* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
    font-family: cursive;
}

body {
    width: 100vw;
    height: 100vh;
}

#gump {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gump img {
    width: 10%;
    
}


a {
    color: lime;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}