* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
	width: 100vw;
	height: auto;
    background: linear-gradient(90deg, #73519b, #3f506f);
    color: white;
	display: flex;
	flex-direction: column;
    justify-content: start;
	align-items: start;
    text-align: center;
    padding: 150px 20px 30px 20px;
}

div.header {
    left: 0;
    top: 0;
    position: absolute;
    padding: 10px 30px;
    width: 100%;
    height: 120px;
    background: linear-gradient(90deg, #be54cc, #ffcd81);
    color: black;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 0 0 10px black;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

div.header > h1 {
    font-size: 60px;
    color: black;
    background: linear-gradient(270deg, #ab98ff, #81a3ff);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-stroke: 2px #0009;
}

div.header > p {
    margin-left: 50px;
    font-size: 24px;
    color: black;
}

body > h1 {
    width: 100%;
    font-size: 60px;
    color: black;
    background: linear-gradient(270deg, #ab98ff, #81a3ff);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-stroke: 2px #0009;
    font-style: italic;
    position: relative;
}

body > h1::after {
    content: 'All my silly and goofy projects!';
    width: 100%;
    font-size: 60px;
    color: black;
    background: linear-gradient(270deg, #ab98ff, #81a3ff);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-stroke: 2px #0009;
    font-style: italic;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    filter: blur(10px);
}

h2 {
    font-size: 40px;
    background: #64cc54;
    color: black;
    padding: 15px 30px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 70px;
}

h2:first-of-type {
    margin-top: 0px;
}

h3.label {
    font-size: 28px;
    background: #64cc54;
    color: black;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3.label img {
    height: 30px;
    aspect-ratio: 1;
    margin-right: 10px;
}

a.project {
    color: white !important;
    user-select: none;
    align-self: center;
    justify-self: center;
    border: 2px solid #64cc54;
    display: block;
    overflow: visible;
    border-radius: 10px;
    position: relative;
    width: 500px;
    max-width: 500px;
    aspect-ratio: 4 / 3;
    cursor: pointer;
    box-shadow: 0 0 0 transparent;
    transition: 0.2s ease-in-out scale, 0.2s ease-in-out box-shadow;
}

a.project:hover {
    scale: 1.05;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.322);
}

a.project:active {
    scale: 0.95;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.322);
}

a.project > img {
    width: 100%;
    pointer-events: none;
    height: calc(100% - 80px);
    object-fit: cover;
    object-position: 50% 0%;
    z-index: 1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

a.project > div.projectInfo {
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: #222;
    z-index: 2;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
    width: 100%;
    height: 80px;
    box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.322);
}

a.project > div.projectInfo > div.details {
    color: white !important;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    flex: 1 1 auto;
}

a.project > div.projectInfo > div.details h3 {
    color: inherit;
    font-size: 24px;
}

a.project > div.projectInfo > img {
    pointer-events: none;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 5px;
    object-fit: contain;
}

div.gridOfProjects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 20px;
    width: 100%;
}

div.gridOfProjects.portrait {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

a.project.disabled {
    pointer-events: none;
    filter: brightness(1);
}

a.project.disabled::after {
    content: "Coming Soon!";
    position: absolute;
    width: 90%;
    padding: 15px 0;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    border: 2px solid #cc5454;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    background: #fff3;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
}

a.project.portrait {
    width: 250px;
    aspect-ratio: 1 / 2;
}

a.project.new::after {
    content: "New!";
    position: absolute;
    width: 90%;
    padding: 15px 0;
    z-index: 3;
    top: -10%;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    background: #f002;
	filter: drop-shadow(1px 1px 0 #fff2) drop-shadow(-1px -1px 0 #fff6) drop-shadow(-1px 1px 0 #fff2) drop-shadow(1px -1px 0 #fff2);
	backdrop-filter: blur(10px);
}