
body.showBoxes div#iosHolder {
	background: red !important;
}

body.showBoxes div#topBar {
	background: rgb(0, 255, 221) !important;
}

body.showBoxes div.topBar-time,
body.showBoxes div#dynamicIslandSpace,
body.showBoxes div.topBar-right {
	background: rgb(29, 102, 92) !important;
}

body.showBoxes div.topBar-time p,
body.showBoxes div.topBar-right div {
	background: rgb(121, 187, 0) !important;
}

body.showBoxes div#dynamicIsland {
	background: rgb(98, 0, 255) !important;
}

body.showBoxes div#ios18 {
	background: gold !important;
}

body.showBoxes div.homeIcon {
    background: greenyellow !important;
}

body.showBoxes div.homeIconShow {
    background: rgb(61, 47, 255) !important;
}

body.showBoxes div.widgetSmall {
    background: rgb(255, 47, 168) !important;
}

body.showBoxes div#homeScreen {
    background: rgb(126, 88, 31) !important;
}

body.showBoxes div#HS_Icons {
    background: rgb(255, 153, 0) !important;
}

body.showBoxes div#HS_Dock {
    background: magenta !important;
}

*.hidden {
    display: none !important;
}

div#debugOptions {
    z-index: 10001;
    position: absolute;
    left: 10px;
    bottom: 50%;
    transform: translate(0, 50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #464646;
    padding: 15px;
    border-radius:10px;
}

div#debugOptions > div.sides {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}


div#debugOptions button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    left: 5px;
    bottom: 5px;
    padding: 10px;
    border: none;
    background: #188ef0;
    border-radius: 10px;
    cursor: pointer;
    padding: 15px;
    margin: 5px;
}