* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}

:root {
    --colscheme-default-ubuntu: #d34615;
    --colscheme-1: red;
}

/* Make color scheme changable. */

html,
body,
div#wrapper {
    overflow: hidden;
    width: 100dvw;
    height: 100dvh;
    background: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    transition: 0.4s ease-in-out scale, 0.4s ease-in-out top, 0.4s ease-in-out left;
}

div#wrapper {
    z-index: 2;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

div#topBar {
    z-index: 3;
    top: 0;
    position: absolute;
    padding: 3px 0;
    background: #131313;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div#topBar button#dateTime {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

div#topBar button,
div#topBar div {
    border-radius: 999px;
    height: 100%;
    padding: 5px 10px;
    border: none;
    color: white;
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

div#topBar div img,
div#topBar div p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0 5px;
    filter: brightness(0) invert(1);
}

div#topBar button:hover,
div#topBar div:hover {
    background: #fff2;
}

div#mainView {
    background: url(../image/backgrounds/warty-final-ubuntu.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    padding-left: 70px;
    padding-top: 30px;
}

div#dock {
    position: absolute;
    left: 0;
    top: 30px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 2px;
    padding-top: 5px;
    background: #0005;
    backdrop-filter: blur(3px);
    width: 70px;
    height: calc(100% - 30px);
    position: absolute;
    overflow-y: scroll;
    overflow-x: visible;
    padding-bottom: 80px;
    scrollbar-width: none;
}

div#dock button {
    position: relative;
    padding: 7px;
    border: none;
    border-radius: 10px;
    aspect-ratio: 1;
    width: 100%;
    margin-bottom: 5px;
    background: none;
}

button#launcherButton:hover,
div#dock button:hover {
    background: #fff2 !important;
}

div#dock button img {
    width: 100%;
}

div#dock button p {
    position: absolute;
    color: white;
    top: 50%;
    left: 100%;
}

div#dock button:not([data-appid]), 
div#allApps button:not([data-appid]) {
    scale: 0.75;
    opacity: 0.5;
    pointer-events: none;
    filter: grayscale(1);
}

div#dock button:not([data-appid])::after, 
div#allApps button:not([data-appid])::after {
    content: 'Unavail.';
    font-size: 16px;
    background: #000a;
    padding: 5px;
    border-radius: 5px;
    backdrop-filter: blur(5px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

div#dock button.openApp::before {
    content: '';
    border-radius: 100%;
    width: 5px;
    height: 5px;

    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    
    background: var(--colscheme-default-ubuntu);
}

div#dock div.divider {
    width: 80%;
    height: 1px;
    background: #fff4;
    margin-bottom: 5px;
}

button#launcherButton {
    width: 60px;
    aspect-ratio: 1;
    padding: 10px !important;
    position: absolute !important;
    bottom: 5px;
    left: 5px;
    z-index: 10;
    border-radius: 10px;
    border: none;
    background: none;
}

button#launcherButton img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: brightness(0) invert(1);
}

ubuntu-application {
    position: absolute;
    left: 150px;
    top: 90px;
    z-index: 1;
    border: 1px solid #555;
    border-radius: 10px;
    overflow: hidden;
    container-type: size;
    resize: both;
}

ubuntu-application[data-static-size='true'] {
    resize: none;
}

div#lockScreen {
    position: absolute;
    width: 100dvw;
    height: 100dvh;

    background: url(../image/backgrounds/warty-final-ubuntu.png);
    background-size: cover;
    background-position: center;

    z-index: 13;
}

div.lockUI {
    width: 100%;
    height: 100%;
    background: #fff1;
    backdrop-filter: blur(15px);
    color: white;
}

div.lockUI h1 {
    font-weight: 100;
    font-size: 90px;
    margin-bottom: 70px;
}

div.lockUI h3 {
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 70px;
}

div.lockDateTime,
div.lockLogin {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    transition: 500ms top ease-in-out, 500ms opacity ease-in-out, 500ms scale cubic-bezier(.47,0,.74,.71)
}

div.lockDateTime {
    top: 0;
    scale: 1;
    opacity: 1;
}

div.lockDateTime.closed {
    top: -100%;
    scale: 0.5;
    opacity: 0;
}

div.lockLogin {
    bottom: -100%;
    scale: 0.5;
    opacity: 0;
    transition: 500ms bottom ease-in-out, 500ms opacity ease-in-out, 500ms scale cubic-bezier(.47,0,.74,.71)
}

div.lockLogin > img {
    border-radius: 100%;
    width: 200px;
    margin-bottom: 20px;
}

div.lockLogin h2 {
    margin-bottom: 20px;
}

div.lockLogin div.lockLoginInput {
    position: relative;
    height: 40px;
}

div.lockLogin input {
    width: 300px;
    height: 40px;
    background: #fff4;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
}

div.lockLogin input,
div.lockLogin input::placeholder {
    font-size: 16px;
    color: white;
}

div.lockUI:has(div.lockDateTime.closed) div.lockLogin {
    bottom: 0;
    scale: 1;
    opacity: 1;
}

div#lockScreen.unlocked {
    display: none;
}

div.lockLoginInput button {
    position: absolute;

    aspect-ratio: 1;
    height: 100%;
    right: 40px;
    padding: 10px;
    background: none;
    border: none;
}

div.lockLoginInput button:nth-of-type(2) {
    top: 0;
    right: 0;
}

div.lockLoginInput button img {
    aspect-ratio: 1;
    height: 100%;
    filter: brightness(0) invert(1);
}

img#lockLoginThrobber {
    display: none;
    position: absolute;
    top: 0;
    right: -40px;
    padding: 10px;
    height: 100%;
    aspect-ratio: 1;
}

img#lockLoginThrobber.spin {
    display: block;
}

div#bootAnim {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100dvw;
    height: 100dvh;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out opacity;
}

div#bootAnim > img:nth-of-type(1) {
    aspect-ratio: 1;
    height: 200px;
    margin-bottom: 200px;
}

div#bootAnim > img:nth-of-type(2) {
    aspect-ratio: 1;
    height: 60px;
}

div#bootAnim > img:nth-of-type(3) {
    position: absolute;
    bottom: 20px;
}

div#bootAnim.boot * {
    display: none;
}

div#bootAnim.boot {
    opacity: 0;
    pointer-events: none;
}

body:has(div#allApps.open) div#wrapper {
    position: absolute;
    left: 45px;
    top: -30%;
    box-shadow: 0px 0px 50px 10px #000a;
    scale: 0.2;
}

div#allApps {
    position: relative;
    z-index: 1;
    top: 100%;
    padding-top: 35vh;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.4s ease-in-out top;
}

div#allApps::after {
    content: '';
    position: absolute;
    top: 300px;
    width: 100%;
    height: 40px;
    background: linear-gradient(to bottom, #222, transparent);
    pointer-events: none;
}

div#allApps.open {
    top: 0;
}

div.allApps_appGrid {
    width: 80%;
    max-width: 740px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
}

div.allApps_appGrid button {
    width: 100%;
    aspect-ratio: 1;
    border: none;
    background: none;
    color: white;
    overflow: hidden;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

div.allApps_appGrid button:hover {
    background: #fff2;
}

div.allApps_appGrid button p {
    width: inherit;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

div.allApps_appGrid button:hover p {
    overflow: visible;
    white-space: pre-wrap;
    text-overflow: ellipsis;
}

div.allApps_appGrid button img, 
div.allApps_appGrid button div.folderIcons {
    width: 80%;
    aspect-ratio: 1;
    object-fit: contain;
}

div.allApps_appGrid button.openApp::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background: white;
    bottom: 5px;
    border-radius: 100%;
}

div.allApps_appGrid button div.folderIcons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0 5px;
}

div.allApps_appGrid button div.folderIcons >img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    object-fit: contain;
}

div.allApps_page {
    padding-left: 70px;
    overflow: scroll;
    padding-bottom: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}

/* Screen Organizing */

ubuntu-application.maximized {
    transition: 0.3s ease-in-out all;
    width: calc(100% - 70px) !important;
    height: calc(100% - 30px) !important;
    top: 30px !important;
    left: 70px !important;
    border-radius: 0 !important;
}

ubuntu-application.left-half {
    border-radius: 0 !important;
    top: 30px !important;
    left: 70px !important;
    height: calc(100% - 30px) !important;
    width: calc(50% - 70px) !important;
}

ubuntu-application.right-half {
    border-radius: 0 !important;
    top: 30px !important;
    left: 50% !important;
    height: calc(100% - 30px) !important;
    width: 50% !important;
}