* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'SF Pro Display';
}

html,
div.categoryInner {
	scrollbar-width: none;
}

sf-symbol {
    display: flex;
}

::-webkit-scrollbar {
	display: none;
}

:root {
    --red: #ff4032;
    --pink: #ff3466;
    --orange: #ff9400;
    --yellow: #ff0;
    --green: #2fd55a;
    --light-blue: #70d4ff;
    --blue: #0483ff;
    --purple: #615aec;
    --grey: #87878c;

    --slider-grey: #e9e9ea;
}

body.dark,
body.dark div.categoryInner,
body.dark div.categoryInnerElements {
    background: black;
}

body.dark,
body.dark h1 {
    color: white;
}

body.dark #search {
    background: #1c1c1e22;
}

body.dark #userProfile,
body.dark div.setting,
body.dark div.categoryHeader {
    background: #1c1c1e;
}

body.dark div.setting div.textAndMore,
body.dark div.display_appearance {
    border-color: #333 !important;
}

body.dark div.appleSliderInner {
    background: #444;
}

.black-icon {
    background: #000;
}

.white-icon {
    background: #fff;
    border: 1px solid #eee;
}

.red-icon {
    background: var(--red);
}

.orange-icon {
    background: var(--orange);
}

.green-icon {
    background: var(--green);
}

.light-blue-icon {
    background: var(--light-blue);
}

.blue-icon {
    background: var(--blue);
}

.purple-icon {
    background: var(--purple);
}

.pink-icon {
    background: var(--pink);
}

.grey-icon {
    background: var(--grey);
}

body,
div.categoryInner {
	width: 100vw;
    overflow: hidden;
    overflow-y: scroll;
    background: #f2f2f7;
    display: block;
    padding: 20px;
    padding-top: 100px;
}

body:has(div.categoryInner.open) {
    overflow: hidden;
}

h1 {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 48px;
    color: #000000;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: 600;
}

div#scrollTitle {
    opacity: 0;
    z-index: 100;
    top: 0;
    left: 0;
    position: fixed;
    height: 110px;
    background: linear-gradient(180deg, #fff, transparent);
    backdrop-filter: blur(10px);
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: end;

    font-size: 20px;
    padding-bottom: 10px;
    color: black;
    font-weight: 600;

    transition: 0.2s opacity ease-in-out;
}

body.dark div#scrollTitle {
    background: linear-gradient(180deg, #000, transparent);
    color: white;
}

div#scrollTitle p {
    position: absolute;
    top: 120%;
    transform: translateY(-50%);
    opacity: 0;
    filter: blur(10px);

    transition: 0.5s ease-in-out top, 0.5s ease-in-out opacity, 0.5s ease-in-out filter;
}

div#scrollTitle.show {
    opacity: 1;
}

div#scrollTitle.show p  {
    position: absolute;
    top: 80%;
    transform: translateY(-50%);
    opacity: 1;
    filter: blur(0px);
}

#search {
    width: calc(100% - 60px);
    background: #e3e3e8;
    border-radius: 999px;
    height: 70px;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0 15px;
    position: fixed;
    margin: 0 30px;
    bottom: 30px;
    left: 0;
    z-index: 3;
    background: #fff2;
	filter: drop-shadow(1px 1px 0 #fff2) drop-shadow(-1px -1px 0 #fff6) drop-shadow(-1px 1px 0 #fff2) drop-shadow(1px -1px 0 #fff2);
	backdrop-filter: blur(10px);
    box-shadow: 0px 0px 15px #0005;
}

#search sf-symbol {
    display: block;
    margin: 5px;
    filter: brightness(0.5);
    height: 30px;
}

#search #settingsSearch {
    flex: 1 1 auto;
    background: none;
    border: none;
    font-size: 20px;
    color: white;
    filter: brightness(0.5);
    outline: none;
}

#search #settingsSearch::placeholder {
    font-weight: 400;
}

#userProfile {
    margin-top: 15px;
    border-radius: 30px;
    height: 90px;
    width: 100%;
    padding: 15px 20px;
    background: white;

    display: flex;
    align-items: center;
}

#userProfile div.picture,
#userProfile div.picture img {
    height: 100%;
    border-radius: 100%;
}

#userProfile div.text {
    margin-left: 10px;
    color: #6e6e6e;
    flex: 1 1 auto;
}

#userProfile div.text h1 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

#userProfile div.text p {
    font-weight: 500;
}

#userProfile button {
    border: none;
    background: none;
}

div#settingsHolder {
    margin-top: 30px;
    padding-bottom: 80px;
    width: 100%;
}

div.settingsCategory:first-of-type {
    margin-top: 0;
}

div.settingsCategory {
    margin: 30px 0;
    border-radius: 30px;
    overflow: hidden;
}

div.setting {
    /* animation: 0.5s showSetting cubic-bezier(.68,-0.55,.11,1.29) forwards 1; */
    width: 100%;
    height: 70px;
    background: transparent;
    display: flex;
    background: white;
    padding: 0 15px;
    flex-direction: row;
}

div.setting:not(:has(div.appleSlider)) {
    cursor: pointer;
}

 /*div.setting.even {
    animation: 0.5s showSettingEven cubic-bezier(.68,-0.55,.11,1.29) forwards 1;
} */

div.setting:first-of-type {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

div.setting:last-of-type {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

div.setting:has(+ div.subtitle) {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

@keyframes showSetting {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
    
}

@keyframes showSettingEven {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
    
}

div.setting div.iconSide {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 8px 0;
}

div.setting div.iconSide div.icon {
    width: 34px !important;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    padding: 6px;
    margin-right: 15px;
    background-size: 100% 100%;
}

div.setting div.iconSide div.icon sf-symbol {
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    align-content: center;
    justify-content: center;
}

div.setting div.textAndMore {
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 auto;
    font-size: 20px;
    border-bottom: 1px solid #eee;
}

div.setting:last-of-type div.textAndMore {
    border-bottom: none;
}

div.setting:has(+ div.subtitle) div.textAndMore {
    border-bottom: none;
}

div.setting div.textAndMore div.textArrow {
    display: flex;
    align-items: center;
    color: #87878c;
}

div.setting div.textAndMore div.textArrow sf-symbol {
    height: 20px;
    scale: 0.8;
    margin-left: 10px;
    filter: brightness(0.5);
}

div.setting div.textAndMore input[type="checkbox"] {
    display: none;
}

div.appleSlider {
    cursor: pointer;
    min-width: 100px;
    height: 50px;
    padding: 6px 0;
}

div.appleSliderInner {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--slider-grey);
    border-radius: 999px;
    padding: 2px;
    transition: 0.1s background ease-in-out;
}

div.appleSliderValue {
    position: absolute;
    top: 3px;
    bottom: 3px;
    left: 3px;
    background: white;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.158);
    border-radius: 999px;
    width: 55px;
    transition: all 0.1s ease-in-out;
}

div.appleSlider.active div.appleSliderInner {
    background: var(--green);
}

div.appleSlider.active div.appleSliderValue {
    left: 42px;
}

div.categoryInner {
	z-index: 101;
    position: fixed;
    top: 0;
    left: 100%;
    background: #f2f2f7;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.158);
    width: 100%;
    height: 100%;
    padding: 0;

    transition: left 0.4s ease-in-out;
}

div.categoryInner.open {
    left: 0;
}

div.categoryInner div.backButton button {
    border: none;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #fff2;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    padding: 10px;
    filter: drop-shadow(1px 1px 0 #fff2) drop-shadow(-1px -1px 0 #fff6) drop-shadow(-1px 1px 0 #fff2) drop-shadow(1px -1px 0 #fff2);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 15px #0005;
}
div.categoryInner div.backButton button sf-symbol {
    height: 100%;
}

body.dark div.categoryInner div.backButton button sf-symbol {
   filter: invert(1);
}

div.scrollTitleCategory {
    z-index: 100;
    top: 0;
    left: 0;
    position: sticky;
    height: 110px;
    background: linear-gradient(180deg, #fff, transparent);
    backdrop-filter: blur(10px);
    width: 100%;

    display: flex;

    font-size: 20px;
    padding-bottom: 10px;
    color: black;
    font-weight: 600;

    transition: 0.2s opacity ease-in-out;
}

body.dark div.scrollTitleCategory {
    background: linear-gradient(180deg, #000, transparent);
    color: white;
}


div.scrollTitleCategory div:first-of-type {
    padding-left: 10px;
    justify-content: start;
}

div.scrollTitleCategory div:nth-of-type(2) {
    flex: 1 1 auto;
}

div.scrollTitleCategory div,
div.scrollTitleCategory div p {
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: end;
}

div.categoryInnerElements {
    background: #f2f2f7;
    display: block;
    padding: 20px;
}

div.categoryHeader {
    padding: 20px;
    background: white;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div.categoryHeader:has(+ div.setting) {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 1px solid #eee;
}

div.categoryHeader div.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    padding: 10px;
    border-radius: 15px;
}

div.categoryHeader div.icon sf-symbol {
    width: 100%;
    justify-content: center;
    align-items: center;
    scale: 1.2;
}

div.categoryHeader div.icon sf-symbol[glyph="bluetooth"] {
    height: 100%;
    scale: 1;
}

div.categoryHeader h1 {
    margin: 10px 0px 15px 0px;
    font-size: 24px;
}

div.categoryHeader p {
    font-weight: 600;
    line-height: 24px;
    font-size: 16px;
}

p.title {
    font-size: 18px;
    text-transform: uppercase;
    color: #777;
    font-weight: 400;
    padding: 10px 15px;
}

p.subtitle {
    color: #777;
    font-weight: 400;
    padding: 10px 30px 0px 15px;
    margin-bottom: 5px;
}

/*? Display & Brightness > Appearance */

div.display_appearance {
    cursor: default !important;
    height: unset;
    padding: 15px;
    border-bottom: 1px solid #eee;
}

div.appearanceSelector {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

div.appearanceChoice {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div.appearanceChoice img {
    height: 240px;
}

div.appearanceChoice p {
    margin: 5px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div.appearanceChoice input[type='checkbox'] {
    display: none;
}

div.settingsCheckCircle {
    position: relative;
    cursor: pointer;
}

div.settingsCheckCircle sf-symbol {
    filter: invert(1) brightness(0.6);
}

div.settingsCheckCircle.checked div.settingsCheckedCircle {
    display: block;
}

div.settingsCheckedCircle {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

div.settingsCheckedCircle sf-symbol {
    filter: invert(40%) sepia(94%) saturate(3539%) hue-rotate(196deg) brightness(103%) contrast(102%)
}

div.setting:has(> div.slider) {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div#display_brightness_slider div.sunicon {
    padding: 5px;
    filter: brightness(0.5);
    scale: 0.8;
}

div.circle {
    height: 30px;
    width: 45px;
    background: white;
    border-radius: 1000px;
    position: absolute;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.25);
}

div.circle,
div.appleSliderValue {
    scale: 1;
    transition: 0.5s cubic-bezier(.57,-0.56,.15,.99) scale;
}

div.circle:active,
div.appleSliderValue:active {
    background: #fff7;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.25), inset -2px -2px 5px #0004, inset 2px 2px 5px #fff4,inset 0px 0px 5px #fff2;
    scale: 1.7;
}

body.dark div.circle:active,
body.dark div.appleSliderValue:active {
    background: #0007;
}

div.slider {
    flex: 1 1 auto;
    margin: 0 5px;
    position: relative;
}

div.slider div.bar {
    height: 5px;
    width: 100%;
    background: #aaa;
    border-radius: 999px;
    overflow: hidden;
}

div.slider div.bar div.barFill {
    height: 100%;
    width: 70%;
    border-radius: 999px;

    background: var(--blue);
}
div.wallpaperCustomizer {
    background:white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: grey;
}

div.wallpaperCustomizer > button {
    background:#007aff;
    border:none;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border-radius:100px;
    cursor: pointer;
}

div.wallpaperCustomizerSlide {
    margin: 20px 0;
    width: 100%;
}

div.wallpaperCustomizerInnerSlide {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.lockScreenCustomize,
div.homeScreenCustomize {
    border-radius: 20px;
    background-size: cover !important;
    position: relative;
    height: 300px;
    aspect-ratio: 0.25;
    margin: 5px;
}

div.lockScreenCustomize img,
div.homeScreenCustomize img {
    user-select: none;
    height: 90%;
}

div.lockScreenCustomize {
    background: url(../../../image/Backgrounds/449380-1280.avif);
}

div.homeScreenCustomize {
    background: url(../../../image/Backgrounds/449380-1280.avif);
}

div.lockScreenCustomize button,
div.homeScreenCustomize button {
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 80%;
    transform: translateX(-50%);
    background: #fff6;
    backdrop-filter: blur(5px);
    border-radius: 100px;
    padding: 5px;
    font-size: 14px;
    color: white;
    border: none;
}

div.wallpaperCustomizerNavDots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 8px;
    margin-bottom: 20px;
}

div.wallpaperCustomizerNavDot {
    height: 100%;
    aspect-ratio: 1;
    border-radius: 100%;
    background: #c5c5c5;
    margin: 0 5px;
}

div.wallpaperCustomizerNavDot.active {
    background: black;
}