* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'SF Pro', Arial, Helvetica, sans-serif;
}

:root {
	--header-light: #ddd;
	--header-text-light: black;
	--header-dark: #222;
	--header-text-dark: white;

	--body-light: #eee;
	--body-text-light: black;
	--body-dark: #111;
	--body-text-dark: white;

	--sidebar-light: #bbb;
	--sidebar-text-light: black;
	--sidebar-dark: #333;
	--sidebar-text-dark: white;

	--sidebar-category-light: #ddd;
	--sidebar-category-text-light: black;
	--sidebar-category-dark: #222;
	--sidebar-category-text-dark: white;

	--sidebar-item-light: #eee;
	--sidebar-item-text-light: black;
	--sidebar-item-dark: #111;
	--sidebar-item-text-dark: white;

	--sidebar-active-item-light: #96b2ff;
	--sidebar-active-item-dark: #4f7bff;
}

html,
body {
	width: 100dvw;
	height: 100dvh;
	overflow: hidden;
}

a {
    color: #4f7bff;
    text-decoration: none;
}

a:visited {
    color: #4f7bff;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
	scrollbar-width: thin;
	border: none;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #000a;
	border-radius: 10px;
}

#sidebar {
	position: relative;
    resize: horizontal;
	width: 25%;
	min-width: 100px;
	max-width: 450px;
	height: 100%;
	padding: 10px;

	background: var(--sidebar-light);
	border-right: 2px solid #999;
	overflow-y: scroll;
	padding-bottom: 100px;
}

#wrapper {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
}

#wrapper:not(.dark) {

}

#wrapper.dark {
    & #header button {
	    background: #444;
    }
}

#wrapper.mobile {
    & #sidebar {
        resize: none;
        width: min-content;
    }
}