:root {
	--header-l: linear-gradient(90deg, #d3edff 60%, #e4f4ff 100%);
	--wrapper-l: linear-gradient(135deg, #b8e1ff 30%, #699bbe 100%);
	--sidebar-border-l: #959fd5;
	--sidebar-bg-l: linear-gradient(135deg, #b5c1ff 30%, #6474c9 100%);
	--sidebar-search-l: #dee4ff;
	--sidebar-cat-l: #fff5;
	--sidebar-highlight-l: #96b2ff;
	--accent-l: #b6c1ff;
}

::placeholder {
	color: black;
}

::-webkit-scrollbar-thumb {
	background: #000a;
}

#wrapper:not(.dark):not(.gleep) {
	background: var(--wrapper-l);
    *:not(code):not(code span) {
        color: black;
    }
}

#header,
#header::after,
div#bottomTriangle {
	background: var(--header-l);
}

#header button {
	box-shadow: 0px 0px 5px var(--accent-l);
}

#sidebar {
	background: var(--sidebar-bg-l);
	border: 2px solid var(--sidebar-border-l);
}

div.sideCategoryP:not(:first-of-type)::before,
div.sideCategoryM:not(:first-of-type)::before {
	background: var(--sidebar-border-l);
}

div.sideCategoryP,
div.sideCategoryM,
#searchBox input {
	background: var(--sidebar-cat-l);
}

.sideCategoryP.search,
#mobileSearchBar {
	background: var(--sidebar-search-l);
}

#mobileSearchBar input,
#mobileSearchBar button,
a.sideItem.activeTab,
a.sideItem.activeTab:hover,
.sideItem input,
div.categoryBody pre button,
#header button  {
	background: var(--accent-l);
}

a.sideItem:hover,
button.sideItem:hover {
	background: var(--sidebar-highlight-l);
}

div.categoryBody > p code {
    background: #fafafa77;
}

div.article div.articleDetails {
    background: white;
}

input.inputText {
	background: #fafafa77;
	color: black;
}