* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'SF Pro', Arial, Helvetica, sans-serif;
}

:root {
	--header-light: #ddd;
	--header-text-light: black;
	--header-dark: #222;
	--header-text-dark: white;

	--body-light: #eee;
	--body-text-light: black;
	--body-dark: #111;
	--body-text-dark: white;

	--sidebar-light: #bbb;
	--sidebar-text-light: black;
	--sidebar-dark: #333;
	--sidebar-text-dark: white;

	--sidebar-category-light: #ddd;
	--sidebar-category-text-light: black;
	--sidebar-category-dark: #222;
	--sidebar-category-text-dark: white;

	--sidebar-item-light: #eee;
	--sidebar-item-text-light: black;
	--sidebar-item-dark: #111;
	--sidebar-item-text-dark: white;

	--sidebar-active-item-light: #96b2ff;
	--sidebar-active-item-dark: #4f7bff;
}

html,
body {
	width: 100dvw;
	height: 100dvh;
	overflow: hidden;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
	scrollbar-width: thin;
	border: none;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #000a;
}

#sidebar img {
	user-select: none;
}

#wrapper.dark ::-webkit-scrollbar-thumb {
	background: #fffa !important;
}

a {
    color: #4f7bff;
    text-decoration: none;
}

a:visited {
    color: #4f7bff;
}

button {
	cursor: pointer;
	background: transparent;
	color: black;
	border: none;
	font-size: larger;

	display: flex;
	justify-content: center;
	align-items: center;
}

#wrapper {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
}

#header {
	width: 100%;
	min-height: 70px;
	max-height: 70px;
	background: var(--header-light);
	display: flex;
	align-items: center;
	padding: 10px 30px;
	border-bottom: 2px solid #999;
}

#wrapper.mobile #header > h1 {
	font-size: 30px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#wrapper.mobile #header > img {
	display: none;
}

#wrapper.dark #header > img {
	filter: invert(1);
}

#header > img {
	height: 100%;
	margin-right: 20px;
}

#header h1 {
	flex: 1 1 auto;
}

#header button {
	display: flex;
	justify-content: center;
	align-items: center;
	background: none;
	padding: 10px;
	aspect-ratio: 1;
	height: 100%;
    margin-right: 10px;
	background: #bbb;
}

#header button:last-of-type {
    margin: 0;
}

#header button img {
	pointer-events: none;
}

#wrapper.dark #header button {
	background: #444;
}

#wrapper.dark #header button img {
	filter: invert(1);
}

#wrapper.dark #header {
	background: var(--header-dark);
	color: var(--header-text-dark);
}

#contents {
	width: 100%;
	height: calc(100% - 70px);

	display: flex;
}

#sidebar {
	position: relative;
    resize: horizontal;
	width: 25%;
	min-width: 100px;
	max-width: 450px;
	height: 100%;
	padding: 10px;

	background: var(--sidebar-light);
	border-right: 2px solid #999;
	overflow-y: scroll;
	padding-bottom: 100px;
}

#wrapper.mobile #sidebar {
    resize: none;
	width: min-content;
}

#wrapper.dark #sidebar {
	background: var(--sidebar-dark);
}

#wrapper.dark #sidebar button img {
    filter: invert(1);
}

#body {
	background: var(--body-light);
	color: var(--body-text-light);
	height: 100%;
	width: 100%;
	overflow: scroll;
	padding: 20px;
}

#wrapper.dark #body {
	background: var(--body-dark);
	color: var(--body-text-dark);
}

div.sideCategoryP,
div.sideCategoryM {
	position: relative;
	width: 100%;
	min-height: 60px;

	margin-bottom: 15px;
	padding: 10px;

	background: var(--sidebar-category-light);
}

#wrapper.dark div.sideCategoryP,
#wrapper.dark div.sideCategoryM {
	background: var(--sidebar-category-dark);
}

div.sideCollapseHeader {
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 70px;
}

div.sideCategoryP.search {
	position: sticky;
	top: 0;
	z-index: 2;
	box-shadow: 0px 0px 5px black;
}

#wrapper.mobile div.sideCategoryP.search h1 {
	display: none;
}

div.sideCategoryP.search input,
#mobileSearchBar input {
	width: 100%;
    height: 100%;
    border: none;
    padding: 0 5px;
    padding-left: 60px;
}

#searchBox { 
    margin-bottom: 0 !important;
}

#wrapper.mobile #searchBox {
    display: none;
}

#wrapper:not(.mobile) #searchBtnMobile {
    display: none;
}

#wrapper.dark div.sideCategoryP.search input,
#wrapper.dark div.sideCategoryP.search input::placeholder,
#wrapper.dark #mobileSearchBar input,
#wrapper.dark #mobileSearchBar input::placeholder {
	background: black;
    color: white;
}

#mobileSearch {
	position: absolute;
	background: #000a;
	backdrop-filter: blur(5px);
	z-index: 10;
	width: 100%;
	height: 100%;
	display: none;
}

#mobileSearch.open {
	display: flex;
}

#mobileSearchBar {
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	height: 70px;
	width: 100%;
	padding: 10px;
	background: #ddd;
	box-shadow: 0px 0px 5px black;
}

#mobileSearchBar input {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	padding-left: 10px;
}

#mobileSearchBar button {
	height: 100%;
	background: #fff;
	aspect-ratio: 1;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

#wrapper.dark #mobileSearchBar button {
	background: black;
}

#wrapper.dark #mobileSearchBar {
	background: #222;
}

#wrapper.dark #mobileSearchBar button img {
	filter: invert(1);
}

#wrapper.mobile div#mobileSearchSettings button.sideItem {
	width: 100%;
}

#wrapper.mobile div#mobileSearchSettings button.sideItem p {
	display: block;
}

#mobileSearchSettings {
	padding: 20px;
	padding-top: 90px;
	height: auto;
	width: 100%;
	overflow: scroll;
}

button.sideItem {
	justify-content: start !important;
}

button.sideItem.disabled {
	pointer-events: none;
}

div.sideCategoryP.search #searchBox img {
    position: absolute;
    padding: 10px;
}


div.sideCategoryP.search button {
	height: 100%;
	aspect-ratio: 1;
	margin: 5px;
}

#wrapper.mobile div.sideCollapseHeader {
	display: none;
}

div.sideCollapseHeader button {
	height: 20px;
	aspect-ratio: 1;
}

#wrapper.dark div.sideCollapseHeader button {
	color: white;
}

div.sideCategoryP h1,
div.sideCategoryM h1 {
	height: 60px;
	padding: 10px;
	color: var(--sidebar-category-text-light);

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#wrapper.dark div.sideCategoryP h1,
#wrapper.dark div.sideCategoryM h1 {
	color: var(--sidebar-category-text-dark);
}

div#mobileSearch div.sideCollapseHeader {
	display: flex !important;
}


a.sideItem,
button.sideItem {
	text-decoration: none;
	position: relative;
	cursor: pointer;
	width: 100%;
	height: 60px;
	padding: 5px;

	display: flex;
	align-items: center;

	color: var(--sidebar-item-text-light);

	font-size: 18px;

	margin-bottom: 5px;

	transition: 0.1s ease-in-out scale;
}

a.sideItem.disabled,
button.sideItem.disabled {
    filter: grayscale(1);
    opacity: 0.5;
    scale: 0.7;
    cursor: not-allowed;
}

#wrapper.mobile a.sideItem {
	width: 60px;
}

#wrapper.mobile #mobileSearch a.sideItem {
	justify-content: start !important;
	width: 100%;
}

#wrapper.mobile #mobileSearch button.sideItem p{
	display: block;
}

#wrapper.mobile #mobileSearch button.sideItem div.newItem{
	display: block;
	left: 70px;
}

a.sideItem:not(.disabled):not(:has(> input)):active {
	scale: 0.9;
}

#wrapper.mobile a.sideItem:not(.disabled):has(> input):active {
	scale: 0.9;
}

#wrapper.dark a.sideItem,
#wrapper.dark button.sideItem {
	color: var(--sidebar-item-text-dark);
}

a.sideItem.activeTab {
	background: var(--sidebar-active-item-light);
}

#wrapper.dark a.sideItem.activeTab {
	background: var(--sidebar-active-item-dark);
}

div.sideCategoryM:last-of-type {
	margin: 0;
}

a.sideItem:last-of-type,
button.sideItem:last-of-type {
	margin-bottom: 0;
}

a.sideItem:hover,
button.sideItem:hover {
	background: var(--sidebar-item-light);
}

a.sideItem.activeTab:hover {
	background: var(--sidebar-active-item-light);
}

#wrapper.dark a.sideItem.activeTab:hover {
	background: var(--sidebar-active-item-dark);
}


#wrapper.dark a.sideItem:hover,
#wrapper.dark button.sideItem:hover {
	background: var(--sidebar-item-dark);
}

#wrapper.dark a.sideItem img:not([type='png']),
#wrapper.dark button.sideItem img:not([type='png']){
	filter: invert(1);
}

a.sideItem img,
button.sideItem img {
	pointer-events: none;
	aspect-ratio: 1;
	height: 100%;
	margin-right: 10px;
	object-fit: contain;
}

#wrapper.mobile a.sideItem p {
	display: none;
}

a.sideItem p,
button.sideItem p {
    pointer-events: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	transition: 0.1s ease-in-out font-size;
}

a.sideItem:hover p,
button.sideItem:hover p {
	font-size: 20px;
}

div.newItem {
	user-select: none;
	opacity: 0.75;
	pointer-events: none;
	padding: 5px;
	top: -10px;
	left: 60px;
	rotate: -10deg;
	background: red;
	position: absolute;
    z-index: 2;
}

#wrapper.mobile div.newItem {
	left: 50%;
	transform: translate(-50%) scale(0.75);
}

div.categoryBody {
	display: none;
	transform-origin: top;
	width: 100%;
	height: auto;
	position: relative;
	margin-bottom: 10px;
}

div.categoryBody h1 {
	font-size: 64px;
	margin-bottom: 30px;
}

div.categoryBody > p {
	font-size: 24px;
    line-height: 2em;
    margin-bottom: 20px;
}

div.categoryBody > p code {
	font-family: Consolas, monospace;
    padding: 5px;
    background: #fafafa;
}

#wrapper.dark div.categoryBody > p code {
	background: #282c34;
}


div.categoryBody > h2 {
    font-size: 42px;
    margin-top: 50px;
    margin-bottom: 40px;
}

div.categoryBody > h3 {
    font-size: 36px;
    margin-top: 1dvh;
    margin-bottom: 20px;
    font-weight: 500;
}

div.categoryBody pre,
div.categoryBody pre code,
div.categoryBody pre code * {
    font-weight: 500;
    font-family: Consolas, 'Courier New', monospace;
}

div.categoryBody pre {
    overflow: hidden;
    position: relative;
    margin-bottom: 50px;
}

div.categoryBody pre[data-copy='yes'] code {
    padding-right: 60px;
}

div.categoryBody pre button {
    position: absolute;
    top: 5px;
    right: 5px;

    height: 40px;
    aspect-ratio: 1;

    padding: 5px;
    background: #ddd;
}

div.categoryBody pre button img {
    width: 100%;
    height: 100%;
}

#wrapper.dark div.categoryBody pre button {
    background: #222;
}

#wrapper.dark div.categoryBody pre button img { filter: invert(1); }

div.categoryBody.active {
    animation: openCategory 0.5s ease-in-out 1 forwards;
	display: flex;
	flex-direction: column;
}

@keyframes openCategory {
    from {
        scale: 0.9;
        opacity: 0;
    }
    to {
        scale: 1;
        opacity: 1;
    }
}

div.articleHolder {
	width: 100%;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
	justify-items: center;
	align-items: center;
	padding: 0 70px;
}

#wrapper.mobile div.articleHolder {
	padding: 0;
	grid-template-columns: 1fr;
}

div.article {
	overflow: hidden;
	position: relative;

	width: auto;
	max-width: 500px;
	aspect-ratio: 4 / 3;

	cursor: pointer;

	transition: 0.2s ease-in-out scale;
}

div.article div.highlight {
	z-index: 3;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: #4f7bff;
	transition: 0.1s ease-in-out opacity;
}

div.article:hover {
	scale: 1.1;
}

div.article:active {
	scale: 0.9;
}

div.article:active div.highlight {
	opacity: 0.2;
}

div.article * {
	pointer-events: none;
	user-select: none;
}

div.article > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 0%;
	z-index: 1;
}

div.article div.articleDetails {
	z-index: 2;
	position: absolute;
	bottom: 0;

	display: flex;
	flex-direction: row;
	justify-content: center;

	padding: 15px;
	width: 100%;
	height: 80px;
	box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.322);
	background: white;
}

#wrapper.dark div.articleDetails {
	background: black;
	color: white;
}

div.article div.articleDetails h3 {
	font-size: 24px;
}

#wrapper.mobile div.article div.articleDetails {
	padding: 10px;
	height: 50px;
}

#wrapper.mobile div.article div.articleDetails h3 {
	font-size: 16px;
}

#wrapper.mobile div.article div.articleDetails p {
	font-size: 12px;
}

div.article div.articleDetails img {
	height: 100%;
	aspect-ratio: 1;
}

div.article div.articleDetails div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1 1 auto;
}

div#copiedClipboard {
    pointer-events: none;
    position: absolute;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 60px;

    font-size: 20px;

    padding: 15px 25px;
    background: #42df49;

    bottom: -70px;
    right: 10px;
    z-index: 20;

    transition: 0.5s cubic-bezier(.32,.44,.43,.99) bottom;
}

div#copiedClipboard.a {
    bottom: 10px;
}

div#copiedClipboard img {
    height: 100%;
    margin-right: 10px;
}

#wrapper.mobile div#copiedClipboard {
    right: 50%;
    transform: translate(50%, 0);
}

div.interactiveIframe {

}

div.interactiveIframe iframe {
    border: 5px solid #aaa;
    background: black;
    width: 100%;
    height: 100%;
}

#wrapper.dark div.interactiveIframe iframe {
    border: 5px solid #333;
}

p#searchNotFound,
p#searchNotFoundM {
	display: none;
	color: #888;
	text-align: center;
	font-weight: 700;
}

#wrapper.dark p#searchNotFound,
#wrapper.dark p#searchNotFoundM {
	color: #777;
}

video {
	width: 40%;
}

#wrapper.mobile video {
	width: 100%;
}

div.categoryBody.wip::after {
	top: 10px;
	right: 10px;
	position: absolute;
	margin-top: 10px;
	content: 'This page is still under construction. Check back later for more updates.';
}

#wrapper.mobile div.categoryBody.wip::after {
	background: #000d;
	backdrop-filter: blur(5px);
	padding: 20px;
}

input.inputText {
	font-size: 20px;
	padding: 10px;
	border: none;
	background: #ccc;
	color: black;
}

input.inputText::placeholder {
	color: black;
}

#wrapper.dark input.inputText {
	background: #333;
	color: white;
}

#wrapper.dark input.inputText::placeholder {
	color: white;
}

h3.topMargin {
	margin-bottom: 15px !important;
	margin-top: 50px !important;
}

div.categoryBody h4 {
	width: max-content;
	padding: 0 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
}

#wrapper.dark div.categoryBody h4 {
	border-bottom: 1px solid white;
}


/* Fixes */

.hljs {
    background: #fafafa !important;
}

#wrapper.dark .hljs {
	background: #282c34 !important;
}



button.coolButton {
    border: 2px solid #999;
    background: #aaa;
}

button.coolButton:hover {
	filter: brightness(1.2);
}

button.coolButton * {
	z-index: 1;
}

#bottomButtons {
	z-index: 20;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 20px;
	right: 20px;
	height: 90px;
	width: auto;
}

#bottomButtons button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100%;
	aspect-ratio: 1;
	margin: 0 10px;
	position: relative;
}

#bottomButtons button.hidden {
	display: none;
}

#bottomButtons button > img,
#bottomButtons button > div.imageOverlayer {
	filter: invert(1);
	object-fit: contain;
	aspect-ratio: 1;
	height: 60%;
}

#bottomButtons button.wide {
	width: 270px;
}

#bottomButtons button.wide > img,
#bottomButtons button > div.imageOverlayer {
	margin-right: 20px;
}

#bottomButtons button.wide p {
	font-size: 24px;
}

div.imageOverlayer {
	position: relative;
}

div.imageOverlayer > img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: 0.5s ease-in-out transform, 0.5s ease-in-out filter;
}

#bottomButtons button:hover div.imageOverlayer#aiAssistantOverlayer > img:nth-of-type(2) {
	filter: drop-shadow(0px 0px 10px white);
	transform: scale(1.5) rotate(360deg);
}

#bottomButtons button:hover div.imageOverlayer#aiAssistantOverlayer > img:nth-of-type(3) {
	transform: scale(1.5);
}

#header button.unused {
    pointer-events: none;
    opacity: 0.5;
    transform: scale(0.8);
}

/*! Deprecated - May 26th, 2025 */
/*! Deprecated - May 26th, 2025 */
/*! Deprecated - May 26th, 2025 */
/*! Deprecated - May 26th, 2025 */

/*? This style is deprecated and should not be worked on.
/*? It will lack features and may not work properly.
/*? This style should be removed in the future.*/

body::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-size: 3vw;
    text-align: center;
    white-space: pre-wrap;
    content: 'The "Classic" style is deprecated and may lack features, or not work properly.\AThis style may be removed in the future.\A\APlease use the updated "Modern" style instead.';
    color: white;
    box-sizing: border-box;
    background: #000a;
    z-index: 20;
    backdrop-filter: blur(15px);
    pointer-events: all;
    animation: fadeout 8s 1 forwards;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        pointer-events: none;
    }
}