* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'SF Pro', Arial, Helvetica, sans-serif;
}

html,
body {
	width: 100dvw;
	height: 100dvh;
	overflow: hidden;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
	scrollbar-width: thin;
	border: none;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
}

a {
    color: #4f7bff;
    text-decoration: none;
}

a:visited {
    color: #4f7bff;
}

button {
	cursor: pointer;
	color: black;
	border: none;
	border-radius: 5px;
	font-size: larger;

	display: flex;
	justify-content: center;
	align-items: center;
}

#wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

#header {
	z-index: 4;
	width: 100%;
	min-height: 70px;
	max-height: 70px;
	display: flex;
	align-items: center;
	padding: 10px 30px;
}

#header > img {
	height: 100%;
	margin-right: 20px;
}

#header h1 {
	flex: 1 1 auto;
}

#header button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	aspect-ratio: 1;
	height: 100%;
    margin-right: 10px;
	border-radius: 100%;
	position: relative;
}

#header button::after {
	width: calc(100% - 6px);
	height: calc(100% - 6px);
}

#header button::before {
	filter: blur(5px);
}

#header button:last-of-type {
    margin: 0;
}

#header button img {
	pointer-events: none;
	width: 100%;
	border-radius: 100%;
}

#contents {
	width: 100%;
	height: calc(100% - 70px);

	display: flex;
}

#sidebar {
	z-index: 5;
	position: relative;
    resize: horizontal;
	width: 25%;
	min-width: 100px;
	max-width: 450px;
	height: auto;
	padding: 10px;
	border-radius: 10px;
	margin: 10px;
	overflow-y: scroll;
	padding-bottom: 100px;
}

#sidebar img {
	user-select: none;
}

#body {
	height: 100%;
	width: 100%;
	overflow: scroll;
	padding: 20px;
	padding-top: 70px;
}

div.sideCategoryP,
div.sideCategoryM {
	
	position: relative;
	width: 100%;
	min-height: 60px;

	margin-bottom: 15px;
	padding: 10px;

	border-radius: 5px;
}

#header {
	overflow: visible;
	position: relative;
}

#header::after {
	content: '';
	height: 100%;
	position: absolute;
	bottom: -100%;
	left: 0;
	width: 100%;
	clip-path: polygon(0 0,100% 0,0 100%);
}

div.sideCollapseHeader {
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 70px;
}

div.sideCategoryP.search {
	position: sticky;
	top: 0;
	z-index: 5;
	box-shadow: 0px 0px 5px black;
}

div.sideCategoryP.search input,
#mobileSearchBar input {
	width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    padding: 0 5px;
    padding-left: 60px;
}

#searchBox { 
    margin-bottom: 0 !important;
}

#wrapper:not(.mobile) #searchBtnMobile {
    display: none;
}

#mobileSearch {
	position: absolute;
	background: #000a;
	backdrop-filter: blur(5px);
	z-index: 10;
	width: 100%;
	height: 100%;
	display: none;
}

#mobileSearch.open {
	display: flex;
}

#mobileSearchBar {
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	height: 70px;
	width: 100%;
	border-radius: 0;
	padding: 10px;
	box-shadow: 0px 0px 5px black;
}

#mobileSearchBar input {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	padding-left: 10px;
}

#mobileSearchBar button {
	height: 100%;
	aspect-ratio: 1;
	border-radius: 5px;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

#mobileSearchSettings {
	padding: 20px;
	padding-top: 90px;
	height: auto;
	width: 100%;
	overflow: scroll;
}

button.sideItem {
	justify-content: start !important;
}

button.sideItem.disabled {
	pointer-events: none;
}

div.sideCategoryP.search #searchBox img {
    position: absolute;
    padding: 10px;
}


div.sideCategoryP.search button {
	height: 100%;
	aspect-ratio: 1;
	margin: 5px;
}

div.sideCollapseHeader button {
	height: 20px;
	aspect-ratio: 1;
}

div.sideCategoryP h1,
div.sideCategoryM h1 {
	height: 60px;
	padding: 10px;
	color: var(--sidebar-category-text-light);

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
div#mobileSearch div.sideCollapseHeader {
	display: flex !important;
}


a.sideItem,
button.sideItem {
	background: transparent;
	text-decoration: none;
	position: relative;
	cursor: pointer;
	width: 100%;
	height: 60px;
	padding: 5px;

	border-radius: 5px;
	display: flex;
	align-items: center;

	font-size: 18px;

	margin-bottom: 5px;

	transition: 0.1s ease-in-out scale;
}

a.sideItem.disabled,
button.sideItem.disabled {
    opacity: 0.5;
    scale: 0.7;
    cursor: not-allowed;
}

a.sideItem:not(.disabled):not(:has(> input)):active {
	scale: 0.9;
}

div.sideCategoryM:last-of-type {
	margin: 0;
}

a.sideItem:last-of-type,
button.sideItem:last-of-type {
	margin-bottom: 0;
}

a.sideItem img,
button.sideItem img {
	pointer-events: none;
	aspect-ratio: 1;
	border-radius: 5px;
	height: 100%;
	margin-right: 10px;
	object-fit: contain;
}

a.sideItem p,
button.sideItem p {
    pointer-events: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	transition: 0.1s ease-in-out font-size;
}

a.sideItem:hover p,
button.sideItem:hover p {
	font-size: 20px;
}

div.newItem {
	user-select: none;
	opacity: 0.75;
	pointer-events: none;
	padding: 5px;
	top: -10px;
	left: 60px;
	border-radius: 5px;
	rotate: -10deg;
	background: red;
	position: absolute;
    z-index: 2;
}

div.categoryBody {
	display: none;
	transform-origin: top;
	width: 100%;
	height: auto;
	position: relative;
	margin-bottom: 10px;
}

div.categoryBody h1 {
	font-size: 64px;
	margin-bottom: 30px;
}

div.categoryBody > p {
	font-size: 24px;
    line-height: 2em;
    margin-bottom: 20px;
}

div.categoryBody > p code {
	font-family: Consolas, monospace;
    padding: 5px;
    border-radius: 5px;
}


div.categoryBody > h2 {
    font-size: 42px;
    margin-top: 50px;
    margin-bottom: 40px;
}

div.categoryBody > h3 {
    font-size: 36px;
    margin-top: 1dvh;
    margin-bottom: 20px;
    font-weight: 500;
}

div.categoryBody pre,
div.categoryBody pre code,
div.categoryBody pre code * {
    font-weight: 500;
    font-family: Consolas, 'Courier New', monospace;
}

div.categoryBody pre {
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    margin-bottom: 50px;
}

div.categoryBody pre[data-copy='yes'] code {
    padding-right: 60px;
}

div.categoryBody pre button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 40px;
    aspect-ratio: 1;
    padding: 5px;
}

div.categoryBody pre button img {
    width: 100%;
    height: 100%;
}

div.categoryBody.active {
    animation: openCategory 0.5s ease-in-out 1 forwards;
	display: flex;
	flex-direction: column;
}

@keyframes openCategory {
    from {
        scale: 0.9;
        opacity: 0;
    }
    to {
        scale: 1;
        opacity: 1;
    }
}

div.articleHolder {
	width: 100%;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
	justify-items: center;
	align-items: center;
	padding: 0 70px;
}

div.article {
	overflow: hidden;
	border-radius: 10px;
	position: relative;

	width: auto;
	max-width: 500px;
	aspect-ratio: 4 / 3;

	cursor: pointer;

	transition: 0.2s ease-in-out scale;
}

div.article div.highlight {
	z-index: 3;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: #4f7bff;
	transition: 0.1s ease-in-out opacity;
}

div.article:hover {
	scale: 1.1;
}

div.article:active {
	scale: 0.9;
}

div.article:active div.highlight {
	opacity: 0.2;
}

div.article * {
	pointer-events: none;
	user-select: none;
}

div.article > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 0%;
	z-index: 1;
}

div.article div.articleDetails {
	z-index: 2;
	position: absolute;
	bottom: 0;

	display: flex;
	flex-direction: row;
	justify-content: center;

	padding: 15px;
	width: 100%;
	height: 80px;
	box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.322);
}

div.article div.articleDetails h3 {
	font-size: 24px;
}

div.article div.articleDetails img {
	height: 100%;
	aspect-ratio: 1;
	border-radius: 5px;
}

div.article div.articleDetails div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1 1 auto;
}

div#copiedClipboard {
	display: none;
    pointer-events: none;
    position: absolute;

    border-radius: 10px;

    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 60px;

    font-size: 20px;

    padding: 15px 25px;
    background: #42df49;

    bottom: -70px;
    right: 10px;
    z-index: 20;

    transition: 0.5s cubic-bezier(.32,.44,.43,.99) bottom;
}

div#copiedClipboard.a {
	display: flex;
    bottom: 10px;
}

div#copiedClipboard img {
    height: 100%;
    margin-right: 10px;
}

div.interactiveIframe {

}

div.interactiveIframe iframe {
    border: 5px solid #aaa;
    background: black;
    width: 100%;
    height: 100%;
}

p#searchNotFound,
p#searchNotFoundM {
	display: none;
	color: white;
	text-align: center;
	font-weight: 700;
}

video {
	width: 40%;
}

div.categoryBody.wip::after {
	top: 10px;
	right: 10px;
	position: absolute;
	margin-top: 10px;
	content: 'This page is still under construction. Check back later for more updates.';
}

input.inputText {
	font-size: 20px;
	border-radius: 5px;
	padding: 10px;
	border: none;
}

h3.topMargin {
	margin-bottom: 15px !important;
	margin-top: 50px !important;
}

div.categoryBody h4 {
	width: max-content;
	padding: 0 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
}

a#searchBox.sideItem:hover {
	background: none !important;
	cursor: default;
}

div#bottomTriangle {
	z-index: 0;
	height: 290px;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 80%;
	clip-path: polygon(100% 0px, 0 100%, 100% 100%);
	opacity: 0.2;
}

button.coolButton {
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
	transition: 0.1s ease-in-out filter;
}

button.coolButton:hover {
	filter: brightness(1.2);
}

button.coolButton::before {
	z-index: -1;
	filter: blur(10px);
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: inherit;
	border-radius: inherit;
}

button.coolButton::after {
	z-index: 0;
	content: '';
	position: absolute;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	border-radius: inherit;
	background: rgba(0, 0, 0, 0.5);
}

button.coolButton * {
	z-index: 1;
}

#bottomButtons {
	z-index: 20;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 20px;
	right: 20px;
	height: 90px;
	width: auto;
}

#bottomButtons button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100%;
	aspect-ratio: 1;
	border-radius: 100%;
	margin: 0 10px;
	position: relative;
	transition: 0.2s ease-in-out opacity;
	opacity: 1;
	pointer-events: all;
}

#bottomButtons button.hidden {
	margin: 0;
	width: 0;
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
}

#bottomButtons button > img,
#bottomButtons button > div.imageOverlayer {
	filter: invert(1);
	object-fit: contain;
	aspect-ratio: 1;
	height: 60%;
}

#bottomButtons button img[type='nofilter']{
	filter: invert(0);
}

#bottomButtons button > div.imageOverlayer img[type='nofilter'] {
	filter: invert(1);
}

#bottomButtons button.wide {
	border-radius: 999px;
	width: 270px;
}

#bottomButtons button.wide > img,
#bottomButtons button > div.imageOverlayer {
	margin-right: 20px;
}

#bottomButtons button.wide p {
	font-size: 24px;
}

div.imageOverlayer {
	position: relative;
}

div.imageOverlayer > img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: 0.5s ease-in-out transform, 0.5s ease-in-out filter;
}

#bottomButtons button:hover div.imageOverlayer#aiAssistantOverlayer > img:nth-of-type(2),
#bottomButtons button:hover div.imageOverlayer#aiAssistantOverlayer > img:nth-of-type(3) {
	filter: drop-shadow(0px 0px 10px white);
	transform: scale(1.5) rotate(360deg);
}
#bottomButtons button:hover div.imageOverlayer#aiAssistantOverlayer > img:nth-of-type(4) {
	transform: scale(1.5);
}

#header button.unused {
    pointer-events: none;
    opacity: 0.75;
    transform: scale(0.8);
}

div#settings {
	width: 100%;
	height: 100%;
	background: #000a;
	backdrop-filter: blur(15px);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 20;
	transition: 0.2s ease-in-out opacity;
	opacity: 0;
	pointer-events: none;
}

div#settings.open {
	opacity: 1;
	pointer-events: all;
}