* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'SF Pro Display';
}

html,
div.categoryInner {
	scrollbar-width: none;
}

sf-symbol {
    display: flex;
}

::-webkit-scrollbar {
	display: none;
}

:root {
    --red: #ff4032;
    --pink: #ff3466;
    --orange: #ff9400;
    --yellow: #ff0;
    --green: #2fd55a;
    --light-blue: #70d4ff;
    --blue: #0483ff;
    --purple: #615aec;
    --grey: #87878c;

    --slider-grey: #e9e9ea;
}

body.dark {
    background: black;
}

body.dark,
body.dark h1 {
    color: white;
}

body.dark #search {
    background: #1c1c1e;
}

body.dark #userProfile,
body.dark div.setting,
body.dark div.categoryHeader {
    background: #1c1c1e;
}

body.dark div.setting div.textAndMore {
    border-color: #333;
}

body.dark div.appleSliderInner,
body.dark div.categoryInner,
body.dark div.categoryInnerElements {
    background: #444;
}

.black-icon {
    background: #000;
}

.white-icon {
    background: #fff;
    border: 1px solid #eee;
}

.red-icon {
    background: var(--red);
}

.orange-icon {
    background: var(--orange);
}

.green-icon {
    background: var(--green);
}

.light-blue-icon {
    background: var(--light-blue);
}

.blue-icon {
    background: var(--blue);
}

.purple-icon {
    background: var(--purple);
}

.pink-icon {
    background: var(--pink);
}

.grey-icon {
    background: var(--grey);
}

body,
div.categoryInner {
	width: 100vw;
    overflow: hidden;
    overflow-y: scroll;
    background: #f2f2f7;
    display: block;
    padding: 20px;
    padding-top: 100px;
}

body:has(div.categoryInner.open) {
    overflow: hidden;
}

h1 {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 48px;
    color: #000000;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: 600;
}

div#scrollTitle {
    z-index: 100;
    top: 0;
    left: 0;
    position: fixed;
    height: 100px;
    background: #0003;
    backdrop-filter: blur(10px);
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: end;

    font-size: 20px;
    padding-bottom: 10px;
    color: white;
    font-weight: 600;

    transition: 0.2s opacity ease-in-out;
}

#search {
    width: 100%;
    background: #e3e3e8;
    border-radius: 10px;
    height: 40px;
    display: flex;
}

#search sf-symbol {
    display: block;
    margin: 5px;
    filter: brightness(0.5);
}

#search #settingsSearch {
    flex: 1 1 auto;
    background: none;
    border: none;
    font-size: 20px;
    color: white;
    filter: brightness(0.5);
    outline: none;
}

#search #settingsSearch::placeholder {
    font-weight: 400;
}

#userProfile {
    margin-top: 15px;
    border-radius: 10px;
    height: 90px;
    width: 100%;
    padding: 15px 20px;
    background: white;

    display: flex;
    align-items: center;
}

#userProfile div.picture,
#userProfile div.picture img {
    height: 100%;
    border-radius: 100%;
}

#userProfile div.text {
    margin-left: 10px;
    color: #6e6e6e;
    flex: 1 1 auto;
}

#userProfile div.text h1 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

#userProfile div.text p {
    font-weight: 500;
}

#userProfile button {
    border: none;
    background: none;
}

div#settingsHolder {
    width: 100%;
}

div.settingsCategory {
    margin: 30px 0;
    border-radius: 10px;
    overflow: hidden;
}

div.setting {
    /* animation: 0.5s showSetting cubic-bezier(.68,-0.55,.11,1.29) forwards 1; */
    width: 100%;
    height: 50px;
    background: white;
    display: flex;
    padding: 0 15px;
    flex-direction: row;
}

div.setting:not(:has(div.appleSlider)) {
    cursor: pointer;
}

 /*div.setting.even {
    animation: 0.5s showSettingEven cubic-bezier(.68,-0.55,.11,1.29) forwards 1;
} */

div.setting:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

div.setting:last-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

div.setting:has(+ div.subtitle) {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

@keyframes showSetting {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
    
}

@keyframes showSettingEven {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
    
}

div.setting div.iconSide {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 8px 0;
}

div.setting div.iconSide div.icon {
    height: 100%;
    width: 34px !important;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    padding: 6px;
    margin-right: 15px;
    background-size: 100% 100%;
}

div.setting div.iconSide div.icon sf-symbol {
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    align-content: center;
    justify-content: center;
}

div.setting div.textAndMore {
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 auto;
    font-size: 20px;
    border-bottom: 1px solid #eee;
}

div.setting:last-of-type div.textAndMore {
    border-bottom: none;
}

div.setting:has(+ div.subtitle) div.textAndMore {
    border-bottom: none;
}

div.setting div.textAndMore div.textArrow {
    display: flex;
    align-items: center;
    color: #87878c;
}

div.setting div.textAndMore div.textArrow sf-symbol {
    height: 20px;
    scale: 0.8;
    margin-left: 10px;
    filter: brightness(0.5);
}

div.setting div.textAndMore input[type="checkbox"] {
    display: none;
}

div.appleSlider {
    cursor: pointer;
    min-width: 60px;
    height: 100%;
    padding: 6px 0;
}

div.appleSliderInner {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--slider-grey);
    border-radius: 999px;
    padding: 2px;
    transition: 0.1s background ease-in-out;
}

div.appleSliderValue {
    position: absolute;
    top: 3px;
    bottom: 3px;
    left: 3px;
    aspect-ratio: 1;
    background: white;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.158);
    border-radius: 999px;

    transition: all 0.1s ease-in-out;
}

div.appleSlider.active div.appleSliderInner {
    background: var(--green);
}

div.appleSlider.active div.appleSliderValue {
    left: 25px;
}

div.categoryInner {
	z-index: 101;
    position: fixed;
    top: 0;
    left: 100%;
    background: #f2f2f7;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.158);
    width: 100%;
    height: 100%;
    padding: 0;

    transition: left 0.4s ease-in-out;
}

div.categoryInner.open {
    left: 0;
}

div.categoryInner div.backButton button {
    background: none;
    border: none;
    display: flex;
    font-size: 20px;
    color: #1f7fde;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 25px;
}


div.categoryInner div.backButton button sf-symbol {
    height: 100%;
    filter: invert(46%) sepia(46%) saturate(4261%) hue-rotate(192deg) brightness(91%) contrast(92%);
}

div.scrollTitleCategory {
    z-index: 100;
    top: 0;
    left: 0;
    position: sticky;
    height: 100px;
    background: #0003;
    backdrop-filter: blur(10px);
    width: 100%;

    display: flex;

    font-size: 20px;
    padding-bottom: 10px;
    color: white;
    font-weight: 600;

    transition: 0.2s opacity ease-in-out;
}


div.scrollTitleCategory div:first-of-type {
    padding-left: 10px;
    justify-content: start;
}

div.scrollTitleCategory div:nth-of-type(2) {
    flex: 1 1 auto;
}

div.scrollTitleCategory div,
div.scrollTitleCategory div p {
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: end;
}

div.categoryInnerElements {
    background: #f2f2f7;
    display: block;
    padding: 20px;
}

div.categoryHeader {
    padding: 20px;
    background: white;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div.categoryHeader:has(+ div.setting) {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 1px solid #eee;
}

div.categoryHeader div.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    padding: 10px;
    border-radius: 15px;
}

div.categoryHeader div.icon sf-symbol {
    width: 100%;
    justify-content: center;
    align-items: center;
    scale: 1.2;
}

div.categoryHeader div.icon sf-symbol[glyph="bluetooth"] {
    height: 100%;
    scale: 1;
}

div.categoryHeader h1 {
    margin: 10px 0px 15px 0px;
    font-size: 24px;
}

div.categoryHeader p {
    font-weight: 600;
    line-height: 24px;
    font-size: 16px;
}

p.title {
    font-size: 18px;
    text-transform: uppercase;
    color: #777;
    font-weight: 400;
    padding: 10px 15px;
}

p.subtitle {
    color: #777;
    font-weight: 400;
    padding: 10px 30px 0px 15px;
}

/*? Display & Brightness > Appearance */

div.display_appearance {
    cursor: default !important;
    height: unset;
    padding: 15px;
    border-bottom: 1px solid #eee;
}

div.appearanceSelector {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

div.appearanceChoice {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div.appearanceChoice img {
    height: 240px;
}

div.appearanceChoice p {
    margin: 5px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div.appearanceChoice input[type='checkbox'] {
    display: none;
}

div.settingsCheckCircle {
    position: relative;
    cursor: pointer;
}

div.settingsCheckCircle sf-symbol {
    filter: invert(1) brightness(0.6);
}

div.settingsCheckCircle.checked div.settingsCheckedCircle {
    display: block;
}

div.settingsCheckedCircle {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

div.settingsCheckedCircle sf-symbol {
    filter: invert(40%) sepia(94%) saturate(3539%) hue-rotate(196deg) brightness(103%) contrast(102%)
}

div#display_brightness_slider {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div#display_brightness_slider div.sunicon {
    padding: 5px;
    filter: brightness(0.5);
    scale: 0.8;
}

div#display_brightness_slider div.brightness_slider {
    flex: 1 1 auto;
    margin: 0 25px;
    position: relative;
}

div#display_brightness_slider div.brightness_slider div.bar {
    height: 5px;
    width: 100%;
    background: #aaa;
    border-radius: 999px;
    overflow: hidden;
}

div#display_brightness_slider div.brightness_slider div.bar div.barFill {
    height: 100%;
    width: 70%;

    background: var(--blue);
}

div#display_brightness_slider div.brightness_slider div.circle {
    height: 30px;
    width: 30px;
    background: white;
    border-radius: 100%;
    position: absolute;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.25);

    top: 50%;
    left: calc(70% - 20px);
    transform: translateY(-50%);
}