* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}

div.app_preferences {
    width: 100%;
    height: 100%;
    background: #2c2c2c;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    box-shadow: 0px 0px 25px #0009;
}

@container (orientation: portrait) {
    div.app_preferences-body {
        width: 100% !important;
    }

    div.app_preferences-body-setting {
        min-width: 0 !important;
    }

    div.app_preferences-sidebar {
        display: none !important;
    }

    div.app_preferences-sidebar-header {
        display: none !important;
    }
}

div.app_preferences * {
    user-select: none;
}

div.app_preferences div.app_handleBar {
    margin: 1px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    z-index: 100;
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
}

div.app_preferences-sidebar {
    position: relative;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    min-width: 200px;
    max-width: 240px;
    background: #2f2f2f;
    border-right: 2px solid #1d1d1d;
}

div.app_preferences-body {
    position: relative;
    width: auto;
    height: 100%;
    flex: 1 1 auto;
}

div.app_preferences-sidebar-header,
div.app_preferences-body-header {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 10px;
    height: 50px;
    color: white;
    width: 100%;
}

div.app_preferences-sidebar-header {
    width: 240px;
    z-index: 2;
    background: #2f2f2f;
    border-bottom: 2px solid #1d1d1d;
    border-right: 2px solid #1d1d1d;
    width: 100%;
    min-width: 200px;
    max-width: 240px;
}

div.app_preferences-body-header {
    flex: 1 1 auto;
}

div.app_preferences-sidebar-header button,
div.app_preferences-body-header button {
    height: 100%;
    border: none;
    overflow: hidden;
    aspect-ratio: 1;
    background: none;
    padding: 5px;
    border-radius: 5px;
}

div.app_preferences-sidebar-header button:hover,
div.app_preferences-body-header button:hover {
    background: #fff1;
}

div.app_preferences-sidebar-header button:has(+ *),
div.app_preferences-body-header button:has(+ *) {
    margin-right: 10px;
}


div.app_preferences-sidebar-header button img,
div.app_preferences-body-header button img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: contain;
    filter: brightness(2);
}

div.app_preferences-sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
}

div.app_preferences-sidebar-header button {
    margin: 0;
}

div.app_preferences-body-header {
    display: flex;
    justify-content: start;
    align-items: center;
}

div.app_preferences-location-bar {
    background: #353535;
    margin-left: 10px;
    margin-right: 10px;
    width: 370px;
    height: 100%;
    border-radius: 5px;
}

div.app_preferences-sidebar-items {
    width: 100%;
    padding: 5px;
    padding-top: 55px;
    height: auto;
}

div.app_preferences-sidebar-item {
    width: 100%;
    height: 35px;
    padding: 5px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border-radius: 5px;
    font-size: 14px;
}

div.app_preferences-sidebar-item:hover {
    background: #fff1;
}

div.app_preferences-sidebar-item:has(+ *) {
    margin-bottom: 3px;
}

div.app_preferences-sidebar-item img {
    aspect-ratio: 1;
    height: 100%;
    padding: 4px;
    margin-right: 10px;
    filter: brightness(2);
}

div.app_preferences-sidebar-divider {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    background: #fff2;
    height: 1px;
}

div.app_preferences-body-contents {
    margin-top: 50px;
    padding: 10px 15px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100% - 50px);
}

*:has(+ div.app_preferences_windowbuttons) {
    flex: 1 1 auto;
}

div.app_preferences_windowbuttons {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.app_preferences_windowbuttons button {
    margin-left: 5px;
    margin-right: 0;
    height: 100%;
    background: #fff1;
    border-radius: 100%;
}



div.app_preferences.inactive div.app_preferences-sidebar,
div.app_preferences.inactive div.app_preferences-sidebar-header {
    background: #2a2a2a;
}

div.app_preferences.inactive div.app_preferences-body {
    background: #2c2c2c;
}

div.app_preferences.inactive div.app_preferences-sidebar-header *,
div.app_preferences.inactive div.app_preferences-body-header * {
    opacity: 0.5;
}

div#settingLabel {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

div#settingLabel h1 {
    font-weight: 400;
    color: white;
    font-size: 18px;
}

div#settingLabel p {
    color: #fff7;
    font-size: 16px;
}

div.app_preferences-body-setting-category {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.app_preferences-body-setting-category div.app_preferences-body-setting:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

div.app_preferences-body-setting-category div.app_preferences-body-setting:last-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 1px solid #1d1d1d;
}

div.app_preferences-body-setting {
    min-width: 400px;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    color: white;
    max-width: 700px;
    padding: 0 15px;
    background: #3d3d3d;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #1d1d1d;
    border-bottom: none;
    transition: 0.1s ease-in-out background;
}

div.app_preferences-body-setting:hover {
    background: #414141;
}

div.app_preferences-body-setting-switch {
    position: relative;
    width: 50px;
    border-radius: 999px;
    height: 26px;
    background: #e95420;
}

div.app_preferences-body-setting-switch::after {
    content: '';
    position: absolute;
    height: calc(100% - 6px);
    aspect-ratio: 1;
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% - 23px);
    background: white;
    border-radius: 100%;
}

div.app_preferences-body-setting-switch.off {
    background: #595959;
}

div.app_preferences-body-setting-switch.off::after {
    left: 3px;
    background: #d2d2d2;
}

div.app_preferences-body-setting img {
    height: 16px;
    filter: brightness(0) invert(1);
}

div.app_preferences-body-setting-label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;  
}

div.app_preferences-body-setting-label,
div.app_preferences-body-setting-label h1 {
    font-weight: 400;
    font-size: 14px;
}

div.app_preferences-body-setting-label p {
    margin-top: 3px;
    font-size: 12px;
    color: #8a8a8a;
}

div.app_preferences-body-setting-category > h1 {
    width: 100%;
    max-width: 700px;
    font-size: 14px;
    margin-bottom: 10px;
    color: white;
}

div.app_preferences-body-setting-category > h1 > img {
    height: 14px;
    width: 14px;
    margin-left: 5px;
}

div.app_preferences-body-setting-iconlabel div.app_preferences-body-setting-label {
    display: flex;
    align-items: center;
}

div.app_preferences-body-setting-iconlabel div.app_preferences-body-setting-label > img {
    height: 20px;
    margin-right: 5px;
}

div.app_preferences-body-setting-info {
    padding: 10px 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.app_preferences-body-setting-info > * {
    margin-left: 5px;
}

div.app_preferences-body-setting-info button {
    background: none;
    border: none;
    height: 100%;
    aspect-ratio: 1/1;
    padding: 5px;
    border-radius: 5px;
}

div.app_preferences-body-setting-info button:hover {
    background: #fff2;
}

div.app_preferences-body-setting-info button img {
    height: 100%;
    aspect-ratio: 1/1;
}

div.app_preferences-body-setting-info p.dark {
    color: #8a8a8a;
}